body,html{
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-weight: bolder;
}

.top{
  background-image: url("urusha.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:75vh;
}

.second-half{
  height: 50vh;
  background-color:#f4f4f4;
}
.navbar {
   overflow: hidden;
  /* background-color:darkgrey;  */
}

#user{
  float: left;
  color:whitesmoke;
  font-size: 16px;
  padding: 0px 16px;
}

#desc{
  display: inline-block;
  position: absolute;
  top: 60%;
  right: 800px;
  color: whitesmoke;
}

.navbar a {
  float: right;
  font-size: 16px;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: bolder;
  font-size: 16px;  
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:rosybrown; 
  /* opacity: 0.6; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: initial;
  /* background-color:skyblue; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:whitesmoke;
  background-color: inherit;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

.about-section{
  font-family: sans-serif;
    font-size: 12px;
    color: black;
    font-style: italic;
    display: block;
    text-align: justify;
    line-height: 1.5;
}

.education-section{
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    font-style: italic;
    display: block;
    text-align: justify;
    line-height: 1.5;
}

.education-lvl{
  border: 1px solid;
  margin: 25px 0px;
}

.education-title{
  text-decoration: underline;
  /* font-weight: bold; */
  font-size: 18px;
}


/* @media screen and (min-width:960px)
{
  .top{
    height:50vh;
  }
}*/

@media  only screen and (min-width:255px)
{
  .navbar {
    overflow: hidden;
   /* background-color:darkgrey;  */
 }
  .top{
    height:40vh;
  }
  #desc{
    display: inline-block;
    position: absolute;
    top: 25%;
    color: whitesmoke;
    right: 300px;
  }
} 

@media only screen and (min-width : 992px ) 
{
  .navbar {
    overflow: hidden;
   /* background-color:darkgrey;  */
 }
  .top{
    height:50vh;
  }
  #desc{
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 405px;
    color: whitesmoke;
  }
}